<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>DHConstraintBuilder.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>DHConstraintBuilderTests.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>SampleProj_DHConstraintBuilder.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>2F5FB23C1CC449080045E6DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>2F5FB2451CC449080045E6DA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FAA523B1E11AFA900BA4156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>7FAA524E1E11AFA900BA4156</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
